# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

bin/

__pycache__/
.pytest_cache/

.DS_Store
.idea/
node_modules/

# AWS
aws/
# Serverless directories
.serverless
.dynamodb/